* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
}
/* =====================
          NAV
========================*/
.menu-carrito {
  height: 80px;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenedor-logo, .contenedor-carrito {
  height: 40px;
  width: 200px;
  background-color: brown;
  margin: 0 30px;
}

/* =====================
          HEADER
========================*/
.contenedor-titulo-principal {
  height: 300px;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 60px;
}

/* =======================
      Sección Principal
==========================*/
.seccion-principal {
  display: flex;
  background-color: coral;  
}
.filtros-busqueda {
  background-color: yellowgreen; 
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 30px;
}
.contenedor-titulo-aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.contenedor-busqueda {
  display: flex;
  flex-direction: column;
}

.titulos-filtros {
  padding: 20px 0;
}

.filtrar-por-categoria, .filtrar-por-puntuacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkbox {
  padding-bottom: 5px;
}

.productos-seccion-principal {
  height: 100px;
  background-color: green; 
  display: flex;
  flex-direction: column;
  flex: 4;
  
}